<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions nécessaires -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- MainActivity - Point d'entrée de l'application -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- UniversiteLavalActivity - Affiche Google Maps -->
        <activity
            android:name=".UniversiteLavalActivity"
            android:exported="false"
            android:label="Université Laval"
            android:theme="@style/Theme.MyApplication" />

        <!-- DepartementActivity - Affiche le site du département -->
        <activity
            android:name=".DepartementActivity"
            android:exported="false"
            android:label="Département GELGIF"
            android:theme="@style/Theme.MyApplication" />

        <!-- MonProfilActivity - Affiche le profil de l'utilisateur -->
        <activity
            android:name=".MonProfilActivity"
            android:exported="false"
            android:label="Mon Profil"
            android:theme="@style/Theme.MyApplication" />

    </application>

</manifest>